body {
  background-color: #f4f4f4;
  font-family: "Arial", Gadget, sans-serif;
  color: black;
}
a:link {
  color: hotpink;
}
h1 {
  font-size: xx-large;
}
.button {
  background-color: #39833b;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  transition: 0.3s;
  margin-left: 150px;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  opacity: 1;
}

.header h1 {
  text-align: center;
  float: center;
}
